.DS_Store
.env
.env.*
*.log
*.out
*.tmp
*.swp
*.swo
*.swn
*.bak
coverage.*
cpu.pprof
mem.pprof

/bin/
/dist/
/tmp/

.idea/
.vscode/

config.yaml
secret.yaml
sealed-secrets-cert.pem
!kustomize/**/config.yaml
