apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k3s-ds-learn

resources:
- ../../base

images:
- name: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newName: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newTag: ffc28ab7b53ef01b15d2c5df390bd5864da7f601

configMapGenerator:
- behavior: replace
  files:
  - config.yaml
  name: app-config

patchesStrategicMerge:
- replicas.yaml
