apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k3s-ds-learn

resources:
  - ../../base

images:
  - name: ghcr.io/daffahilmyf/go-impl-postgres-ha
    newTag: latest

configMapGenerator:
  - name: app-config
    behavior: replace
    files:
      - config.yaml

patchesStrategicMerge:
  - replicas.yaml
