apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k3s-ds-learn-prod

resources:
- ../../base
- sealed-secret.yaml

patches:
- path: replicas.yaml
- path: namespace-patch.json
  target:
    kind: Namespace
    name: k3s-ds-learn
    version: v1

images:
- name: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newName: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newTag: e1fbc10c88bcb63daa46d82f6604a59f662bef27

configMapGenerator:
- behavior: replace
  files:
  - config.yaml
  name: app-config
