apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k3s-ds-learn

resources:
- ../../base

images:
- name: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newName: ghcr.io/daffahilmyf/go-impl-postgres-ha
  newTag: 34e9475d048eef79a8bcaadb859fd683fed301fe

configMapGenerator:
- behavior: replace
  files:
  - config.yaml
  name: app-config

patchesStrategicMerge:
- replicas.yaml
